html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 92%;
  width: 100%;
  background-color: #efedf5;
}
#reflectDiv {
  font-family: "Avenir", "Arial Light";
  font-size: 14px;
  margin: 10px;
}
